<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="DYNAMICS_NAV">
            <Component Id="cmpF9A19A624716EC2792CFAAAFB0B1DA6F" Guid="{9ED04988-F924-4E99-94FB-B8EF5C75A668}">
                <File Id="fil1256F633DF1289908AF1DAA3E642AF61" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\Test.ps1" />
            </Component>
            <Component Id="cmpFAFF9F1B136267A4D1D3F332F91975E4" Guid="{A04C1ADB-A187-440E-B80A-351758736B35}">
                <File Id="filD41B66C2CE1CC1DE280B1A7B26E82E35" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\DynamicsNav.Plugin.addin" />
            </Component>
            <Component Id="cmp1CB1237395463F5DBA2E24A74D163C3B" Guid="{62200965-B0E3-4970-A0BB-01A29E899625}">
                <File Id="fil54F818EDCA07450DE93228211F44E85C" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\DynamicsNav.Plugin.dll" />
            </Component>
            <Component Id="cmpE9F9299B41F7719DC925295C93B0730C" Guid="{074EF4E4-BA06-418B-9812-DE825C9F2C1B}">
                <File Id="fil7067C54E3D4291523D47EDD86621327B" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\powerGateServer.SDK.dll" />
            </Component>
            <Component Id="cmp769A75A607037D28F46F8B250792924F" Guid="{7663C9C1-5A96-491B-A577-26208FCBAF55}">
                <File Id="filC15889487A3B7FCBD0EA5DA66E46EC50" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\Record Link Handler.fob" />
            </Component>
            <Component Id="cmpC58FCCC724CFDB583C414D42A90F2BF3" Guid="{7657D623-04C2-46F6-9870-82D9DA41B7A1}">
                <File Id="fil087A860344427116FF000E0DCABA464C" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\Services.sql" />
            </Component>
            <Component Id="cmp2AF0D9FFAE0A8455E3E02CED815CFBE0" Guid="{0641ED9A-CAB2-4820-9810-6EC0AE520FB0}">
                <File Id="fil020065E76074F0F75227B2208BF07F86" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\DynamicsNav.Plugin.dll.config" />
            </Component>
            <Directory Id="dirF220E402E0776C55BA7BC869606CDC78" Name="Install">
                <Component Id="cmpD7060DCB31E73FDFC031CBB3DAAAE9BE" Guid="{2214DC86-6BBC-4D0F-B86B-34918115C2BF}">
                    <File Id="filA7C3475B02B446381EE592FABDD6D463" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\Install\Insert_Webservices.sql" />
                </Component>
                <Component Id="cmp185738740FFAB6C487AC890DA24A298B" Guid="{FA862FB2-3598-48D3-BA97-CF47496E0C80}">
                    <File Id="filED5389D4A47ACDA2E6FB3673921FB833" KeyPath="yes" Source="$(var.HarvestPowerGateServer)\Install\Record Link Handler.fob" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated_PowerGateServerPlugins">
            <ComponentRef Id="cmpF9A19A624716EC2792CFAAAFB0B1DA6F" />
            <ComponentRef Id="cmpFAFF9F1B136267A4D1D3F332F91975E4" />
            <ComponentRef Id="cmp1CB1237395463F5DBA2E24A74D163C3B" />
            <ComponentRef Id="cmpE9F9299B41F7719DC925295C93B0730C" />
            <ComponentRef Id="cmp769A75A607037D28F46F8B250792924F" />
            <ComponentRef Id="cmpC58FCCC724CFDB583C414D42A90F2BF3" />
            <ComponentRef Id="cmp2AF0D9FFAE0A8455E3E02CED815CFBE0" />
            <ComponentRef Id="cmpD7060DCB31E73FDFC031CBB3DAAAE9BE" />
            <ComponentRef Id="cmp185738740FFAB6C487AC890DA24A298B" />
        </ComponentGroup>
    </Fragment>
</Wix>