<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include Includes\ProductVariables.wxi ?>
	<Package Name="$(var.CompanyDirectory) $(var.PName)" Language="1033" Manufacturer="$(var.CompanyDirectory) s.r.l." UpgradeCode="$(var.UpgradeCode)" Version="$(var.PVersion)" InstallerVersion="305">
		<SummaryInformation Keywords="Installer, Setup" Description="$(var.CompanyDirectory) $(var.PName) Installer" Manufacturer="$(var.CompanyDirectory) s.r.l." />

	  <?include Includes\ARPProperties.wxi ?>
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Feature Id="ProductFeature">
			<ComponentGroupRef Id="HeatGenerated_PowerGateServerPlugins" />
			<ComponentGroupRef Id="SETUP_UI" />
		</Feature>

     <Property Id="SAMEVERSIONINSTALLED" />
		<Upgrade Id="$(var.UpgradeCode)">
			<UpgradeVersion OnlyDetect="no" Property="SAMEVERSIONINSTALLED" Minimum="$(var.PVersion)" Maximum="$(var.PVersion)" IncludeMaximum="yes" IncludeMinimum="yes">
			</UpgradeVersion>
		</Upgrade>

		<Launch Condition="NOT SAMEVERSIONINSTALLED" Message="This application does not support upgrading it with the same version: $(var.PVersion)" />


	  <Property Id="POWERGATESERVERINSTALLEDVERSION">
	    <RegistrySearch Id="PowerGateServerInstalledVersion" Root="HKLM" Key="SOFTWARE\coolOrange s.r.l.\powerGateServer" Name="Version" Type="raw" />
	  </Property>
	  <Launch Condition="Installed OR POWERGATESERVERINSTALLEDVERSION" Message="This application requires powerGateServer v19 or later. Please install the latest version of powerGateServer and then run again this installer." />

		<MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />
	</Package>
</Wix>