<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="BusinessCentral.Login" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="BusinessCentral.Settings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>
	<BusinessCentral.Login>
		<!-- Business Central OData Base Url including Company Information: e.g. http://servername:7048/BC220/ODataV4) -->
		<add key="BaseUrl" value="http://localhost:7048/BC220/ODataV4" />
		
		<!-- Business Central Company name -->
		<add key="Company" value="CRONUS USA, Inc." />
		
		<!-- Business Central Username for Basic Auth -->
		<add key="Username" value="powerGate" />
		
		<!-- Business Central Username for Basic Auth -->
		<add key="Password" value="c00!Orange" />
	</BusinessCentral.Login>
	<BusinessCentral.Settings>
		<!-- Default 'Type' used to create a new Business Central Item. Cannot be empty and must be either 'Inventory', 'Service' or 'Non-Inventory'. -->
		<add key="Default_Item_Type" value="Inventory" />

		<!-- Default 'Item Category Code' used to create a new Business Central Item. Can be empty. -->
		<add key="Default_Item_Category_Code" value="MISC" />

		<!-- Default 'Type' used to create a new Business Central Item. Can be empty. -->
		<add key="Default_Inventory_Posting_Group" value="FINISHED" />

		<!-- Default 'Gen. Prod. Posting Group' used to create a new Business Central Item. Can be empty. -->
		<add key="Default_General_Product_Posting_Group" value="MANUFACT" />

		<!-- Value that indicates if an Item is flagged as Make or Buy. If the BC Item's 'Gen. Prod. Posting Group' field has this value, the Vault UI shows 'Make', otherwise is shows 'Buy' -->
		<add key="General_Product_Posting_Group_Make_Indicator" value="MANUFACT" />

		<!-- Name of the Attribute (Item/Details/Item Attributes) for the Description. Must exist as a Attribute in BC. Cannot be empty. -->
		<add key="Item_Attribute_Description" value="Material Description" />
		
		<!-- Name of the Attribute (Item/Details/Item Attributes) for the Material. Must exist as a Attribute in BC. Cannot be empty. -->
		<add key="Item_Attribute_Material" value="Material (Surface)" />

		<!-- Name of the Link (Item/Attachments/Links) for a Vault Thin Client Link. Cannot be empty. -->
		<add key="Item_Link_ThinClient" value="Vault Thin Client" />
		
		<!-- Name of the Link (Item/Attachments/Links) for a Vault Thick Client Link. Cannot be empty. -->
		<add key="Item_Link_ThickClient" value="Vault Explorer" />
	</BusinessCentral.Settings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>