<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="Files" Directory="INSTALLFOLDER">
			<Component Guid="FF4B82DC-291B-4FAC-8574-E57401AE23ED">
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\System.ValueTuple.dll" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\Microsoft.Bcl.AsyncInterfaces.dll" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\Newtonsoft.Json.dll" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\BusinessCentralPlugin.addin" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\BusinessCentralPlugin.dll" Id="mainFile" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\BusinessCentralPlugin.dll.config" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\RestSharp.dll" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\RestSharp.Serializers.NewtonsoftJson.dll" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\System.Buffers.dll" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\System.Memory.dll" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\System.Numerics.Vectors.dll" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\System.Runtime.CompilerServices.Unsafe.dll" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\System.Text.Encodings.Web.dll" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\System.Text.Json.dll" />
				<File Source="..\BusinessCentralPlugin\bin\x64\Release\System.Threading.Tasks.Extensions.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
